Repository AppFlowy-IO/AppFlowy, pull requests merged in 2022-09, with the labels that each got.

#900 doc: Editorial updates to the ReadMe for AppFlowyEditor
  frontend/app_flowy/packages/appflowy_editor/README.md
  frontend/app_flowy/packages/appflowy_editor/documentation/customizing.md
  frontend/app_flowy/packages/appflowy_editor/documentation/testing.md
Labels: documentation

#991 Feat: number list
  frontend/app_flowy/packages/appflowy_editor/lib/src/operation/transaction_builder.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/render/rich_text/number_list_text.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/backspace_handler.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/copy_paste_handler.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/enter_without_shift_in_text_node_handler.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/number_list_helper.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/whitespace_handler.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/undo_manager.dart
  frontend/app_flowy/packages/appflowy_editor/test/legacy/undo_manager_test.dart
Labels: new feature, editor

#1080 fix: some improvements for when including time in a date cell
  frontend/app_flowy/assets/translations/en.json
  frontend/app_flowy/assets/translations/es-VE.json
  frontend/app_flowy/assets/translations/fr-FR.json
  frontend/app_flowy/assets/translations/id-ID.json
  frontend/app_flowy/assets/translations/ru-RU.json
  frontend/app_flowy/assets/translations/zh-CN.json
  frontend/app_flowy/assets/translations/zh-TW.json
  frontend/app_flowy/lib/plugins/grid/application/cell/date_cal_bloc.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/date_cell/date_editor.dart
  frontend/rust-lib/flowy-grid/src/services/field/type_options/date_type_option/date_tests.rs
  frontend/rust-lib/flowy-grid/src/services/field/type_options/date_type_option/date_type_option.rs
Labels: improvements, grid
