Repository AppFlowy-IO/AppFlowy, pull requests merged in 2022-08, with the labels that each got.

#264 Small fixes for `docker-compose up` command's error and warning
  frontend/scripts/docker-buildfiles/docker-compose.yml
Labels: bug

#750 Feat: paste rich text in flowy editor
  frontend/app_flowy/packages/flowy_editor/example/lib/plugin/image_node_widget.dart
  frontend/app_flowy/packages/flowy_editor/example/linux/flutter/generated_plugin_registrant.cc
  frontend/app_flowy/packages/flowy_editor/example/linux/flutter/generated_plugins.cmake
  frontend/app_flowy/packages/flowy_editor/example/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend/app_flowy/packages/flowy_editor/example/macos/Podfile.lock
  frontend/app_flowy/packages/flowy_editor/example/pubspec.lock
  frontend/app_flowy/packages/flowy_editor/lib/document/node.dart
  frontend/app_flowy/packages/flowy_editor/lib/infra/html_converter.dart
  frontend/app_flowy/packages/flowy_editor/lib/operation/transaction_builder.dart
  frontend/app_flowy/packages/flowy_editor/lib/service/editor_service.dart
  frontend/app_flowy/packages/flowy_editor/lib/service/internal_key_event_handlers/copy_paste_handler.dart
  frontend/app_flowy/packages/flowy_editor/pubspec.yaml
Labels: editor

#844 feat: implement editor test infra
  .github/workflows/dart_test.yml
  .github/workflows/flowy_editor_test.yml
  frontend/app_flowy/packages/flowy_editor/lib/flowy_editor.dart
  frontend/app_flowy/packages/flowy_editor/lib/src/document/node.dart
  frontend/app_flowy/packages/flowy_editor/lib/src/document/state_tree.dart
  frontend/app_flowy/packages/flowy_editor/lib/src/editor_state.dart
  frontend/app_flowy/packages/flowy_editor/lib/src/service/internal_key_event_handlers/enter_without_shift_in_text_node_handler.dart
  frontend/app_flowy/packages/flowy_editor/lib/src/service/keyboard_service.dart
  frontend/app_flowy/packages/flowy_editor/lib/src/service/render_plugin_service.dart
  frontend/app_flowy/packages/flowy_editor/lib/src/service/selection_service.dart
  frontend/app_flowy/packages/flowy_editor/test/infra/test_editor.dart
  frontend/app_flowy/packages/flowy_editor/test/infra/test_raw_key_event.dart
  frontend/app_flowy/packages/flowy_editor/test/legacy/delta_test.dart
  frontend/app_flowy/packages/flowy_editor/test/legacy/flowy_editor_test.dart
  frontend/app_flowy/packages/flowy_editor/test/legacy/operation_test.dart
  frontend/app_flowy/packages/flowy_editor/test/service/internal_key_event_handlers/enter_without_shift_in_text_node_handler_test.dart
Labels: tests, editor

#849 Feat: copy h1/h2/h3 styles
  frontend/app_flowy/packages/flowy_editor/example/assets/document.json
  frontend/app_flowy/packages/flowy_editor/example/pubspec.yaml
  frontend/app_flowy/packages/flowy_editor/lib/src/extensions/color_extension.dart
  frontend/app_flowy/packages/flowy_editor/lib/src/infra/html_converter.dart
Labels: editor

#850 Feat: paste image from link
  frontend/app_flowy/packages/flowy_editor/lib/src/infra/html_converter.dart
Labels: editor

#851 Feat: paste url from plain text
  frontend/app_flowy/packages/flowy_editor/lib/src/service/internal_key_event_handlers/copy_paste_handler.dart
Labels: editor

#852 Feat: image placeholder
  frontend/app_flowy/packages/flowy_editor/example/lib/plugin/image_node_widget.dart
Labels: editor

#878 feat: [improvements] integrate logging library in AppFlowyEditor
  frontend/app_flowy/packages/appflowy_editor/example/lib/main.dart
  frontend/app_flowy/packages/appflowy_editor/lib/appflowy_editor.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/editor_state.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/infra/log.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/render/rich_text/checkbox_text.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/input_service.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/copy_paste_handler.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/delete_text_handler.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/slash_handler.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/keyboard_service.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/render_plugin_service.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/scroll_service.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/selection_service.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/undo_manager.dart
  frontend/app_flowy/packages/appflowy_editor/pubspec.yaml
  frontend/app_flowy/packages/appflowy_editor/test/infra/log_test.dart
Labels: improvements, editor

#859 Feat: document model in rust
  frontend/app_flowy/packages/appflowy_editor/lib/src/operation/operation.dart
  frontend/app_flowy/packages/appflowy_editor/test/legacy/operation_test.dart
  frontend/rust-lib/Cargo.lock
  shared-lib/Cargo.lock
  shared-lib/lib-ot/Cargo.toml
  shared-lib/lib-ot/src/core/document/attributes.rs
  shared-lib/lib-ot/src/core/document/document.rs
  shared-lib/lib-ot/src/core/document/document_operation.rs
  shared-lib/lib-ot/src/core/document/mod.rs
  shared-lib/lib-ot/src/core/document/node.rs
  shared-lib/lib-ot/src/core/document/position.rs
  shared-lib/lib-ot/src/core/document/transaction.rs
  shared-lib/lib-ot/src/core/mod.rs
  shared-lib/lib-ot/src/errors.rs
  shared-lib/lib-ot/tests/main.rs
Labels: editor

#917 Update example project
  frontend/app_flowy/packages/appflowy_editor/example/assets/example.json
  frontend/app_flowy/packages/appflowy_editor/example/lib/main.dart
  frontend/app_flowy/packages/appflowy_editor/example/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend/app_flowy/packages/appflowy_editor/example/macos/Podfile.lock
  frontend/app_flowy/packages/appflowy_editor/example/pubspec.yaml
  frontend/app_flowy/packages/appflowy_editor/lib/src/document/node.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/document/state_tree.dart
Labels: editor
