Repository AppFlowy-IO/AppFlowy, pull requests merged in 2022-12, with the labels that each got.

#1585 test: UnitTest Switching from Multi to text
  frontend/rust-lib/flowy-grid/src/services/field/type_options/text_type_option/text_tests.rs
Labels: tests, infra

#1590 chore: update text for folder storage
  frontend/app_flowy/assets/translations/en.json
  frontend/app_flowy/lib/user/presentation/folder/folder_widget.dart
Labels: improvements

#1469 fix: no focus border on date cells
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/date_cell/date_cell.dart
Labels: improvements, grid

#1601 Added : customize the color and background color of selected text
  .github/workflows/appflowy_editor_test.yml
  frontend/app_flowy/assets/translations/en.json
  frontend/app_flowy/assets/translations/es-VE.json
  frontend/app_flowy/packages/appflowy_editor/assets/images/checkmark.svg
  frontend/app_flowy/packages/appflowy_editor/lib/l10n/intl_en.arb
  frontend/app_flowy/packages/appflowy_editor/lib/src/core/legacy/built_in_attribute_keys.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/extensions/text_node_extensions.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/l10n/intl/messages_en.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/l10n/l10n.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/render/color_menu/color_picker.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/render/rich_text/flowy_rich_text.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/render/toolbar/toolbar_item.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/default_text_operations/format_rich_text_style.dart
  frontend/app_flowy/packages/appflowy_editor/test/render/link_menu/link_menu_test.dart
  frontend/app_flowy/packages/appflowy_editor/test/render/rich_text/toolbar_rich_text_test.dart
Labels: new feature, editor

#1539 [FR] Create a new yellow theme for AppFlowy
  frontend/app_flowy/assets/translations/en.json
  frontend/app_flowy/lib/workspace/application/appearance.dart
  frontend/app_flowy/lib/workspace/presentation/settings/widgets/settings_appearance_view.dart
  frontend/app_flowy/packages/flowy_infra/lib/colorscheme/colorscheme.dart
  frontend/app_flowy/packages/flowy_infra/lib/colorscheme/dandelion.dart
  frontend/app_flowy/packages/flowy_infra/lib/theme.dart
Labels: improvements, editor
