Repository AppFlowy-IO/AppFlowy, pull requests merged in 2022-10, with the labels that each got.

#1199 Feature: Add Dutch Translation
  frontend/app_flowy/packages/appflowy_editor/lib/l10n/intl_nl_NL.arb
Labels: HACKTOBERFEST-ACCEPTED

#1196 feat: translate AppFlowy Editor to pt_BR
  frontend/app_flowy/packages/appflowy_editor/lib/l10n/intl_pt_BR.arb
Labels: editor, hacktoberfest, translation, HACKTOBERFEST-ACCEPTED

#1143 feat: backquote to code text
  frontend/app_flowy/packages/appflowy_editor/lib/src/extensions/text_node_extensions.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/markdown_syntax_to_styled_text.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/shortcut_event/built_in_shortcut_events.dart
  frontend/app_flowy/packages/appflowy_editor/test/service/internal_key_event_handlers/markdown_syntax_to_styled_text_test.dart
Labels: editor, hacktoberfest, HACKTOBERFEST-ACCEPTED

#1133 fix: remove keyword when click selection menu item
  frontend/app_flowy/packages/appflowy_editor/example/macos/Podfile.lock
  frontend/app_flowy/packages/appflowy_editor/lib/src/render/selection_menu/selection_menu_item_widget.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/render/selection_menu/selection_menu_service.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/render/selection_menu/selection_menu_widget.dart
  frontend/app_flowy/packages/appflowy_editor/test/render/selection_menu/selection_menu_widget_test.dart
Labels: editor

#1207 feat: Added Czech language
  frontend/app_flowy/packages/appflowy_editor/lib/l10n/intl_cz_CZ.arb
Labels: editor, hacktoberfest, translation

#1203 fix : added French translations
  frontend/app_flowy/assets/translations/fr-FR.json
Labels: HACKTOBERFEST-ACCEPTED

#1217 feat: Added id-ID translation
  frontend/app_flowy/packages/appflowy_editor/lib/l10n/intl_id_ID.arb
Labels: translation, HACKTOBERFEST-ACCEPTED

#1214 feat: Added hu-HU translation
  frontend/app_flowy/packages/appflowy_editor/lib/l10n/intl_hu_HU.arb
Labels: translation, HACKTOBERFEST-ACCEPTED

#1219 added translation for pt_PT
  frontend/app_flowy/packages/appflowy_editor/lib/l10n/intl_pt_PT.arb
Labels: translation, HACKTOBERFEST-ACCEPTED

#1211 feat: added markdown links
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/markdown_syntax_to_styled_text.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/shortcut_event/built_in_shortcut_events.dart
Labels: editor, hacktoberfest

#1209 feat: double tildes to strikethrough text
  frontend/app_flowy/packages/appflowy_editor/lib/src/l10n/intl/messages_fr-CA.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/l10n/intl/messages_hu-HU.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/l10n/intl/messages_id-ID.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/l10n/intl/messages_pt-PT.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/markdown_syntax_to_styled_text.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/shortcut_event/built_in_shortcut_events.dart
  frontend/app_flowy/packages/appflowy_editor/test/infra/test_raw_key_event.dart
  frontend/app_flowy/packages/appflowy_editor/test/service/internal_key_event_handlers/markdown_syntax_to_styled_text_test.dart
Labels: editor, hacktoberfest, HACKTOBERFEST-ACCEPTED

#1245 Feat: Translation for Malayalam (ml_IN)
  frontend/app_flowy/packages/appflowy_editor/lib/l10n/intl_ml_IN.arb
Labels: editor, HACKTOBERFEST-ACCEPTED

#1246 feat: limit max character length on select/multiselect options
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/select_option_cell/select_option_editor.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/select_option_cell/text_field.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/common/text_field.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/header/type_option/select_option.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/header/type_option/select_option_editor.dart
  frontend/app_flowy/packages/flowy_infra_ui/lib/widget/rounded_input_field.dart
Labels: grid, hacktoberfest

#1229 [Test]: Improve Code Coverage for extensions files
  frontend/app_flowy/packages/appflowy_editor/lib/src/extensions/attributes_extension.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/extensions/text_node_extensions.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/l10n/intl/messages_all.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/l10n/intl/messages_ml_IN.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/l10n/l10n.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/render/toolbar/toolbar_item.dart
  frontend/app_flowy/packages/appflowy_editor/pubspec.yaml
  frontend/app_flowy/packages/appflowy_editor/test/extensions/attributes_extension_test.dart
  frontend/app_flowy/packages/appflowy_editor/test/extensions/color_extension_test.dart
  frontend/app_flowy/packages/appflowy_editor/test/extensions/node_extension_test.dart
  frontend/app_flowy/packages/appflowy_editor/test/extensions/object_extension_test.dart
  frontend/app_flowy/packages/appflowy_editor/test/extensions/text_node_extensions_test.dart
  frontend/app_flowy/packages/appflowy_editor/test/extensions/text_style_extension_test.dart
  frontend/app_flowy/packages/appflowy_editor/test/extensions/url_launcher_extension_test.dart
Labels: tests, editor

#1187 feat: Support markdown to bold text
  frontend/app_flowy/packages/appflowy_editor/lib/src/document/built_in_attribute_keys.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/markdown_syntax_to_styled_text_handler.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/shortcut_event/built_in_shortcut_events.dart
  frontend/app_flowy/packages/appflowy_editor/test/infra/test_raw_key_event.dart
  frontend/app_flowy/packages/appflowy_editor/test/service/internal_key_event_handlers/markdown_syntax_to_styled_text_handler_test.dart
Labels: editor, hacktoberfest, HACKTOBERFEST-ACCEPTED

#1252 feat: support windows platform in ci.yaml
  .github/workflows/ci.yaml
Labels: hacktoberfest, HACKTOBERFEST-ACCEPTED

#1234 feat: added translation for ru-RU
  frontend/app_flowy/packages/appflowy_editor/lib/l10n/intl_ru_RU.arb
Labels: editor, hacktoberfest, HACKTOBERFEST-ACCEPTED

#1237 feat: added new translation (hi_IN) to appflowy-editor
  frontend/app_flowy/packages/appflowy_editor/lib/l10n/intl_hi_IN.arb
Labels: editor, hacktoberfest, HACKTOBERFEST-ACCEPTED

#1278 fix: grid cell abnormal on click behaviour
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/cell_container.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/checkbox_cell.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/date_cell/date_cell.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/number_cell.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/select_option_cell/select_option_cell.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/text_cell.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/url_cell/url_cell.dart
Labels: bug, grid

#1277 feat: added support for markdown to link an image
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/markdown_syntax_to_styled_text.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/shortcut_event/built_in_shortcut_events.dart
Labels: new feature, editor, hacktoberfest, HACKTOBERFEST-ACCEPTED

#1274 feat: transform checkbox to select value
  frontend/rust-lib/flowy-grid/src/services/field/type_options/selection_type_option/select_type_option.rs
Labels: improvements, grid, hacktoberfest

#1316 feat: implement new shortcut: press Escape to exit editing mode
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/exit_editing_mode_handler.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/shortcut_event/built_in_shortcut_events.dart
  frontend/app_flowy/packages/appflowy_editor/test/service/internal_key_event_handlers/exit_editing_mode_handler_test.dart
Labels: improvements, editor

#1322 fix: half hidden textfield in name field
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/text_cell.dart
Labels: hacktoberfest, HACKTOBERFEST-ACCEPTED

#1264 feat: alter some select option editor bloc events and add tests
  frontend/app_flowy/lib/plugins/grid/application/cell/select_option_editor_bloc.dart
  frontend/app_flowy/lib/plugins/grid/application/cell/select_option_service.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/select_option_cell/select_option_editor.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/select_option_cell/text_field.dart
  frontend/app_flowy/test/bloc_test/grid_test/select_option_bloc_test.dart
  frontend/app_flowy/test/widget_test/select_option_text_field_test.dart
Labels: grid

#1318 fix: avoid overlapping option colors
  frontend/rust-lib/flowy-grid/src/services/field/type_options/selection_type_option/select_type_option.rs
Labels: improvements, grid

#1210 feat: introduce a default font
  frontend/app_flowy/lib/plugins/board/presentation/card/board_text_cell.dart
  frontend/app_flowy/lib/plugins/board/presentation/card/board_url_cell.dart
  frontend/app_flowy/lib/plugins/board/presentation/toolbar/board_setting.dart
  frontend/app_flowy/lib/plugins/doc/document.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/cell_accessory.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/date_cell/date_cell.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/date_cell/date_editor.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/number_cell.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/select_option_cell/text_field.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/text_cell.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/url_cell/cell_editor.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/cell/url_cell/url_cell.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/common/text_field.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/header/field_editor.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/header/type_option/select_option_editor.dart
  frontend/app_flowy/lib/user/presentation/sign_in_screen.dart
  frontend/app_flowy/lib/user/presentation/sign_up_screen.dart
  frontend/app_flowy/lib/user/presentation/skip_log_in_screen.dart
  frontend/app_flowy/lib/user/presentation/widgets/background.dart
  frontend/app_flowy/lib/workspace/presentation/home/menu/app/create_button.dart
  frontend/app_flowy/lib/workspace/presentation/home/menu/app/header/header.dart
  frontend/app_flowy/lib/workspace/presentation/home/menu/menu.dart
  frontend/app_flowy/lib/workspace/presentation/home/menu/menu_user.dart
  frontend/app_flowy/lib/workspace/presentation/home/navigation.dart
  frontend/app_flowy/lib/workspace/presentation/settings/settings_dialog.dart
  frontend/app_flowy/lib/workspace/presentation/settings/widgets/settings_appearance_view.dart
  frontend/app_flowy/lib/workspace/presentation/settings/widgets/settings_language_view.dart
  frontend/app_flowy/lib/workspace/presentation/settings/widgets/settings_menu_element.dart
  frontend/app_flowy/lib/workspace/presentation/settings/widgets/settings_user_view.dart
  frontend/app_flowy/lib/workspace/presentation/widgets/dialogs.dart
  frontend/app_flowy/lib/workspace/presentation/widgets/float_bubble/question_bubble.dart
  frontend/app_flowy/lib/workspace/presentation/widgets/left_bar_item.dart
  frontend/app_flowy/packages/flowy_infra/lib/text_style.dart
  frontend/app_flowy/packages/flowy_infra_ui/lib/style_widget/button.dart
  frontend/app_flowy/packages/flowy_infra_ui/lib/style_widget/text.dart
  frontend/app_flowy/packages/flowy_infra_ui/lib/style_widget/text_input.dart
  frontend/app_flowy/packages/flowy_infra_ui/lib/widget/buttons/base_styled_button.dart
  frontend/app_flowy/packages/flowy_infra_ui/lib/widget/rounded_button.dart
  frontend/app_flowy/packages/flowy_infra_ui/lib/widget/rounded_input_field.dart
Labels: improvements

#1346 Updated README.md
  README.md
Labels: hacktoberfest, HACKTOBERFEST-ACCEPTED

#1356 feat: added new translation (bn_BN) to appflowy-editor
  frontend/app_flowy/packages/appflowy_editor/lib/l10n/intl_bn_BN.arb
Labels: hacktoberfest, HACKTOBERFEST-ACCEPTED

#1373 fix: copy link and code style
  frontend/app_flowy/packages/appflowy_editor/lib/src/infra/html_converter.dart
Labels: editor

#1331 Editor service tests for AppFlowy Editor
  frontend/app_flowy/packages/appflowy_editor/test/service/scroll_service_test.dart
Labels: tests, editor

#1388 chore: improved changelog.md
  CHANGELOG.md
Labels: documentation, hacktoberfest, HACKTOBERFEST-ACCEPTED
