Repository AppFlowy-IO/AppFlowy, pull requests merged in 2023-05, with the labels that each got.

#2376 Support heading block
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockHorizontalToolbar/FormatButton.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockHorizontalToolbar/FormatIcon.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockHorizontalToolbar/index.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockHorizontalToolbar/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockMenu/MenuItem.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/BlockSideToolbar.hooks.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/HeadingBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Overlay/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Root/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/TextBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/useMarkDown.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/TextInput.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavigationPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/constants/document/block.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/document/config.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/document/text_block.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/document/toolbar.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/document/document_controller.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/active-page-id/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/heading.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/backspace.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/delete.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/indent.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/index.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/insert.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/outdent.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/split.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/update.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/cursor.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/index.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/index.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/store.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/common.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/heading.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/slate/format.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/slate/hotkey.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/slate/markdown.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/slate/text.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/slate/toolbar.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/subscribe.ts
  frontend/appflowy_tauri/tsconfig.json
  frontend/appflowy_tauri/vite.config.ts
Labels: editor, tauri, react

#2395 fix: hover state issue in icon picker for dark mode workspace name.
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/settings_user_view.dart
Labels: improvements

#2436 fix: local time
  frontend/appflowy_flutter/lib/plugins/database_view/application/cell/cell_data_persistence.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/date_cell/date_cal_bloc.dart
  frontend/rust-lib/flowy-database/src/services/field/type_options/date_type_option/date_type_option.rs
Labels: improvements, calendar

#2435 fix: font size for Numbers property value on calendar.
  frontend/appflowy_flutter/lib/plugins/database_view/calendar/presentation/calendar_day.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/card/card_cell_builder.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/card/cells/card_cell.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/card/cells/number_card_cell.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/card/cells/url_card_cell.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/url_cell/cell_editor.dart
Labels: improvements, calendar

#2415 Support quote block
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/database-hooks/loadField.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/NodeChildren.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/QuoteBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/useMarkDown.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TodoListBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/constants/document/config.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/quote.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/common.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/heading.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/quote.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/slate/markdown.ts
Labels: editor, tauri, react

#2375 feat: Remove CI job based on Ubuntu 18.04
  .github/workflows/release.yml
Labels: infra

#2145 feat: Only show the change cover button and delete button when it's hovering.
  frontend/appflowy_flutter/assets/test/workspaces/cover_image.zip
  frontend/appflowy_flutter/integration_test/cover_image_test.dart
  frontend/appflowy_flutter/integration_test/util/data.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/cover_node_widget.dart
Labels: editor

#2065 Feat: sync name on change
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/settings_user_view.dart
Labels: improvements

#2257 feat: AI - improve writing
  frontend/appflowy_flutter/assets/translations/en.json
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/openai/widgets/smart_edit_action.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/openai/widgets/smart_edit_node_widget.dart
Labels: new feature, editor, AI

#2414 Date format
  frontend/appflowy_flutter/assets/translations/en.json
  frontend/rust-lib/flowy-database/src/services/field/type_options/date_type_option/date_type_option_entities.rs
Labels: improvements, grid

#2411 feat: show unscheduled events in calendar toolbar
  frontend/appflowy_flutter/assets/translations/en.json
  frontend/appflowy_flutter/lib/plugins/database_view/calendar/presentation/calendar_day.dart
  frontend/appflowy_flutter/lib/plugins/database_view/calendar/presentation/calendar_page.dart
  frontend/appflowy_flutter/lib/plugins/database_view/calendar/presentation/toolbar/calendar_layout_setting.dart
  frontend/appflowy_flutter/lib/plugins/database_view/calendar/presentation/toolbar/calendar_toolbar.dart
Labels: new feature, calendar

#2419 Support block config
  frontend/appflowy_tauri/.eslintrc.cjs
  frontend/appflowy_tauri/package.json
  frontend/appflowy_tauri/pnpm-lock.yaml
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/TextBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/Actions.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/Events.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/TurnIntoEvents.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/useMarkDown.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/TextInput.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/document/config.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/document/document_controller.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/document/document_observer.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/heading.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/index.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/quote.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/backspace.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/indent.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/index.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/split.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/turn_to.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/update.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/todo_list.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/cursor.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/index.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/turn_to.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/heading.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/index.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/quote.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/todo_list.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/slate/markdown.ts
  frontend/appflowy_tauri/src/appflowy_app/views/DocumentPage.hooks.ts
  frontend/rust-lib/flowy-notification/src/lib.rs
Labels: editor, tauri, react

#2444 fix: default include time
  frontend/appflowy_flutter/lib/plugins/database_view/application/cell/cell_data_persistence.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/date_cell/date_cal_bloc.dart
Labels: bug, calendar

#2453 Feat/number list block
  frontend/appflowy_tauri/src/appflowy_app/components/document/BulletedListBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ColumnListBlock/Column.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ColumnListBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ListBlock/BulletedListBlock.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ListBlock/NumberedListBlock.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ListBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/NumberedListBlock/NumberedListBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/NumberedListBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/TurnIntoEvents.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/document/config.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/index.ts
Labels: editor, tauri, react

#2456 Support toggle list block
  frontend/appflowy_tauri/src/appflowy_app/components/document/BulletedListBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/NumberedListBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/TurnIntoEvents.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TodoListBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ToggleListBlock/ToggleListBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/ToggleListBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/constants/document/config.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/split.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/common.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/index.ts
Labels: editor, tauri, react

#2457 Support divider block and callout block
  frontend/appflowy_tauri/package.json
  frontend/appflowy_tauri/pnpm-lock.yaml
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockHorizontalToolbar/FormatButton.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockHorizontalToolbar/index.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSelection/BlockSelection.hooks.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/CalloutBlock/CalloutBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/CalloutBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DividerBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/Events.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/TurnIntoEvents.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/TextInput.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/document/config.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/document/text_block.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/insert.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/cursor.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/turn_to.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/common.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/index.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text/delta.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text/format.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text/hotkey.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text/toolbar.ts
Labels: editor, tauri, react

#2471 feat: improve sidebar item dragged appearance
  frontend/appflowy_flutter/lib/workspace/presentation/home/menu/app/section/section.dart
  frontend/appflowy_flutter/lib/workspace/presentation/home/menu/menu.dart
Labels: improvements

#2475 fix: show delete icon for document icon properly
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/emoji_popover.dart
Labels: improvements, editor

#2487 feat: add hover effect on an event card
  frontend/appflowy_flutter/lib/plugins/database_view/calendar/presentation/calendar_day.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/card/card.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/card/container/card_container.dart
Labels: improvements, calendar

#2464 Support code block
  frontend/appflowy_tauri/package.json
  frontend/appflowy_tauri/pnpm-lock.yaml
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSelection/BlockSelection.hooks.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/CalloutBlock/CalloutBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/CodeBlock/CodeBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/CodeBlock/SelectLanguage.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/CodeBlock/elements.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/CodeBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/TextBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/Actions.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/Events.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/TurnIntoEvents.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/Text/TextInput.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/Text/useTextEvents.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/document/code.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/document/config.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/document/text_block.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/backspace.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/merge.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/split.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/code/decorate.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/code/index.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/common.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/index.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text/delta.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text/hotkey.ts
Labels: editor, tauri, react

#2480 Support rectangular selection box
  frontend/appflowy_tauri/.eslintrc.cjs
  frontend/appflowy_tauri/package.json
  frontend/appflowy_tauri/pnpm-lock.yaml
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockMenu/BlockMenu.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSelection/BlockSelection.hooks.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSelection/NodesRect.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/CodeBlock/CodeBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/CodeBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/Node.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/TextBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/VirtualizedList/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/SubscribeNode.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/Text/TextInput.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/document/document_controller.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/merge.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/update.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/cursor.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/rect_selection.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/store.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/common.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/subscribe.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/region_grid.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/tool.ts
Labels: editor, tauri, react

#2514 Support range selection and refactor data update mechanism and optimize outdent/indent operations
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockHorizontalToolbar/index.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSelection/NodesRect.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/BlockSideToolbar.hooks.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/CodeBlock/CodeBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/Leaf.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/TextBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/Events.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/SubscribeNode.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/Text/TextEvents.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/Text/TextInput.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/Text/TextSelection.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/indent.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/merge.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/outdent.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/split.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/update.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/cursor.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/index.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/range_selection.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/common.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text/delta.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/subscribe.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/tool.ts
  frontend/appflowy_tauri/src/styles/template.css
Labels: editor, tauri, react

#2525 Support to show text action toolbar when the selection exists and the range is not collapsed
  frontend/appflowy_tauri/src-tauri/Cargo.lock
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockHorizontalToolbar/FormatButton.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockHorizontalToolbar/index.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockHorizontalToolbar/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSelection/BlockRangeSelection.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSelection/BlockRectSelection.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSelection/BlockRectSelection.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSelection/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/CalloutBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/CodeBlock/elements.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/CodeBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Overlay/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Root/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextActionMenu/index.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextActionMenu/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextActionMenu/menu/FormatButton.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextActionMenu/menu/FormatIcon.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextActionMenu/menu/MenuTooltip.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextActionMenu/menu/TurnIntoSelect.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextActionMenu/menu/index.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextActionMenu/menu/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/Leaf.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/Events.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/SubscribeNode.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/Text/TextEvents.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/Text/TextInput.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/Text/TextSelection.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/TurnInto/TurnInto.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/TurnInto/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/constants/document/config.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/document/toolbar.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/backspace.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/split.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/format.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/range_selection.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/code/decorate.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/common.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/selection.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text/delta.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text/format.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text/hotkey.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/blocks/text/toolbar.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/toolbar.ts
  frontend/appflowy_tauri/src/appflowy_app/views/DocumentPage.tsx
  frontend/appflowy_tauri/src/services/backend/index.ts
  frontend/appflowy_tauri/src/styles/template.css
Labels: editor, tauri, react

#2550 chore: clean up code
  frontend/rust-lib/flowy-database2/src/services/field/type_options/date_type_option/date_tests.rs
  frontend/rust-lib/flowy-database2/src/services/field/type_options/date_type_option/date_type_option.rs
  frontend/rust-lib/flowy-database2/src/services/field/type_options/date_type_option/date_type_option_entities.rs
Labels: develop

#2528 Support regenerating ai results #2012
  frontend/appflowy_flutter/assets/translations/en.json
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/openai/widgets/auto_completion_node_widget.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/openai/widgets/auto_completion_plugins.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/openai/widgets/smart_edit_node_widget.dart
Labels: editor, AI

#2555 fix: Update Indonesian language from `Bahasa` to `Bahasa Indonesia`
  frontend/appflowy_flutter/packages/flowy_infra/lib/language.dart
Labels: bug, translation

#2566 Support block toolbar
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockMenu/BlockMenu.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockMenu/MenuItem.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockMenu/MenuItem.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockMenu/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/BlockMenu.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/BlockMenu.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/BlockMenuTurnInto.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/BlockSideToolbar.hooks.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/MenuItem.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/ToolbarButton.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSlash/BlockSlashMenu.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSlash/index.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSlash/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Overlay/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/events/Events.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/VirtualizedList/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/constants/document/text_block.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/delete.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/duplicate.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/index.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/insert.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/blocks/text/index.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/menu.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/slice.ts
Labels: editor, tauri, react

#2523 feature: changed url field ux to be directly editable
  frontend/appflowy_flutter/assets/images/editor/link.svg
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/url_cell/url_cell.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/row_detail.dart
Labels: improvements, kanban board
