Repository AppFlowy-IO/AppFlowy, pull requests merged in 2023-09, with the labels that each got.

#3357 feat: improve performance of document page
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/checklist_cell/checklist_cell_editor_bloc.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/editor_page.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/editor_plugins/actions/block_action_option_button.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/editor_plugins/callout/callout_block_component.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/editor_plugins/code_block/code_block_component.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/editor_plugins/copy_and_paste/custom_copy_command.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/editor_plugins/header/document_header_node_widget.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/editor_plugins/toggle/toggle_block_component.dart
  frontend/appflowy_flutter/pubspec.lock
  frontend/appflowy_flutter/pubspec.yaml
Labels: improvements

#3247 feat: text and layout direction settings
  frontend/appflowy_flutter/lib/core/config/kv_keys.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/editor_page.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/editor_style.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/more/cubit/document_appearance_cubit.dart
  frontend/appflowy_flutter/lib/workspace/application/appearance.dart
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/settings_appearance/direction_setting.dart
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/settings_appearance/settings_appearance.dart
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/settings_appearance/theme_setting_entry_template.dart
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/settings_appearance_view.dart
  frontend/resources/translations/en.json
  frontend/rust-lib/flowy-user/src/entities/user_setting.rs
Labels: editor

#3395 Italian translation fix
  frontend/resources/translations/it-IT.json
Labels: translation

#3510 fix: grid theming to bottom row count number
  frontend/appflowy_flutter/integration_test/util/database_test_op.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/grid_page.dart
  frontend/appflowy_flutter/lib/workspace/application/appearance.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/colorscheme.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/dandelion.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/default_colorscheme.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/lavender.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/theme_extension.dart
Labels: HACKTOBERFEST-ACCEPTED

#3459 feat: go_router refactor and bottom navigation bar in mobile
  frontend/appflowy_flutter/lib/mobile/application/mobile_theme_data.dart
  frontend/appflowy_flutter/lib/mobile/presentation/details_placeholder_page.dart
  frontend/appflowy_flutter/lib/mobile/presentation/home/home.dart
  frontend/appflowy_flutter/lib/mobile/presentation/home/mobile_home_page.dart
  frontend/appflowy_flutter/lib/mobile/presentation/mobile_bottom_navigation_bar.dart
  frontend/appflowy_flutter/lib/mobile/presentation/mobile_home_page.dart
  frontend/appflowy_flutter/lib/mobile/presentation/presentation.dart
  frontend/appflowy_flutter/lib/mobile/presentation/root_placeholder_page.dart
  frontend/appflowy_flutter/lib/startup/tasks/app_widget.dart
  frontend/appflowy_flutter/lib/startup/tasks/generate_router.dart
  frontend/appflowy_flutter/lib/startup/tasks/prelude.dart
  frontend/appflowy_flutter/lib/user/presentation/helpers/handle_user_profile_result.dart
  frontend/appflowy_flutter/lib/user/presentation/helpers/helpers.dart
  frontend/appflowy_flutter/lib/user/presentation/router.dart
  frontend/appflowy_flutter/lib/user/presentation/screens/encrypt_secret_screen.dart
  frontend/appflowy_flutter/lib/user/presentation/screens/screens.dart
  frontend/appflowy_flutter/lib/user/presentation/screens/sign_in_screen/sign_in_screen.dart
  frontend/appflowy_flutter/lib/user/presentation/screens/skip_log_in_screen.dart
  frontend/appflowy_flutter/lib/user/presentation/screens/splash_screen.dart
  frontend/appflowy_flutter/lib/user/presentation/screens/workspace_error_screen.dart
  frontend/appflowy_flutter/lib/user/presentation/screens/workspace_start_screen/desktop_workspace_start_screen.dart
  frontend/appflowy_flutter/lib/user/presentation/screens/workspace_start_screen/mobile_workspace_start_screen.dart
  frontend/appflowy_flutter/lib/user/presentation/screens/workspace_start_screen/workspace_start_screen.dart
  frontend/appflowy_flutter/lib/workspace/application/appearance.dart
  frontend/appflowy_flutter/lib/workspace/presentation/home/desktop_home_screen.dart
  frontend/appflowy_flutter/lib/workspace/presentation/home/hotkeys.dart
  frontend/appflowy_flutter/lib/workspace/presentation/home/menu/sidebar/sidebar_user.dart
  frontend/appflowy_flutter/pubspec.lock
  frontend/appflowy_flutter/pubspec.yaml
  frontend/resources/flowy_icons/24x/m_setting.svg
  frontend/resources/flowy_icons/32x/m_favorite_selected.svg
  frontend/resources/flowy_icons/32x/m_favorite_unselected.svg
  frontend/resources/flowy_icons/32x/m_home_selected.svg
  frontend/resources/flowy_icons/32x/m_home_unselected.svg
  frontend/resources/flowy_icons/32x/m_notification_selected.svg
  frontend/resources/flowy_icons/32x/m_notification_unselected.svg
  frontend/resources/flowy_icons/32x/m_search.svg
  frontend/resources/flowy_icons/40x/m_add_circle.svg
Labels: mobile
