Repository AppFlowy-IO/AppFlowy, pull requests merged in 2023-01, with the labels that each got.

#1633 fix: don't delete the property if it shouldn't be allowed
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/header/field_editor.dart
Labels: grid

#1634 chore: grid/kanban toolbar UI improvements
  frontend/app_flowy/lib/plugins/board/presentation/toolbar/board_setting.dart
  frontend/app_flowy/lib/plugins/board/presentation/toolbar/board_toolbar.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/toolbar/filter_button.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/toolbar/grid_group.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/toolbar/grid_property.dart
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/toolbar/setting_button.dart
Labels: improvements, grid

#1690 chore: add calendar_view package
  frontend/app_flowy/assets/translations/en.json
  frontend/app_flowy/lib/plugins/calendar/calendar.dart
  frontend/app_flowy/lib/plugins/calendar/presentation/calendar_page.dart
  frontend/app_flowy/lib/plugins/calendar/presentation/layout/sizes.dart
  frontend/app_flowy/lib/plugins/calendar/presentation/toolbar/calendar_toolbar.dart
  frontend/app_flowy/pubspec.lock
  frontend/app_flowy/pubspec.yaml
Labels: calendar

#1708 perf(emoji picker): use Gridview.builder
  frontend/app_flowy/packages/appflowy_editor_plugins/lib/src/emoji_picker/src/default_emoji_picker_view.dart
Labels: editor

#1687 feat: support group by url in kanban board
  frontend/app_flowy/lib/plugins/grid/application/field/field_controller.dart
  frontend/rust-lib/flowy-grid/src/services/field/type_options/type_option_cell.rs
  frontend/rust-lib/flowy-grid/src/services/field/type_options/url_type_option/url_type_option.rs
  frontend/rust-lib/flowy-grid/src/services/group/configuration.rs
  frontend/rust-lib/flowy-grid/src/services/group/controller_impls/mod.rs
  frontend/rust-lib/flowy-grid/src/services/group/controller_impls/select_option_controller/util.rs
  frontend/rust-lib/flowy-grid/src/services/group/controller_impls/url_controller.rs
  frontend/rust-lib/flowy-grid/src/services/group/group_util.rs
  frontend/rust-lib/flowy-grid/tests/grid/cell_test/test.rs
  frontend/rust-lib/flowy-grid/tests/grid/grid_editor.rs
  frontend/rust-lib/flowy-grid/tests/grid/group_test/script.rs
  frontend/rust-lib/flowy-grid/tests/grid/group_test/test.rs
  shared-lib/grid-rev-model/src/group_rev.rs
Labels: grid

#1696 feat: greater to blockquote
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/whitespace_handler.dart
  frontend/app_flowy/packages/appflowy_editor/test/service/internal_key_event_handlers/white_space_handler_test.dart
Labels: editor

#1732 feat: callout
  frontend/app_flowy/lib/plugins/document/document_page.dart
  frontend/app_flowy/packages/appflowy_editor/lib/l10n/intl_en.arb
  frontend/app_flowy/packages/appflowy_editor/lib/src/l10n/intl/messages_all.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/l10n/intl/messages_en.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/l10n/l10n.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/render/selection_menu/selection_menu_widget.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/backspace_handler.dart
  frontend/app_flowy/packages/appflowy_editor_plugins/lib/appflowy_editor_plugins.dart
  frontend/app_flowy/packages/appflowy_editor_plugins/lib/src/callout/callout_node_widget.dart
  frontend/app_flowy/packages/appflowy_editor_plugins/lib/src/extensions/theme_extension.dart
  frontend/app_flowy/packages/appflowy_editor_plugins/pubspec.yaml
  frontend/app_flowy/packages/flowy_infra/lib/theme_extension.dart
  frontend/app_flowy/packages/flowy_infra/pubspec.lock
  frontend/app_flowy/packages/flowy_infra/pubspec.yaml
  frontend/app_flowy/packages/flowy_infra_ui/lib/style_widget/color_picker.dart
Labels: editor, plugins

#1675 integrate board plugin into document
  frontend/app_flowy/assets/translations/en.json
  frontend/app_flowy/lib/plugins/board/board.dart
  frontend/app_flowy/lib/plugins/board/presentation/board_page.dart
  frontend/app_flowy/lib/plugins/document/document_page.dart
  frontend/app_flowy/lib/plugins/document/editor_styles.dart
  frontend/app_flowy/lib/plugins/document/presentation/plugins/board/board_menu_item.dart
  frontend/app_flowy/lib/plugins/document/presentation/plugins/board/board_node_widget.dart
  frontend/app_flowy/lib/workspace/application/app/app_service.dart
  frontend/app_flowy/packages/appflowy_editor/example/assets/example.json
  frontend/app_flowy/packages/appflowy_editor/lib/appflowy_editor.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/core/document/node.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/extensions/node_extensions.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/arrow_keys_handler.dart
  frontend/app_flowy/packages/appflowy_editor/lib/src/service/render_plugin_service.dart
  frontend/app_flowy/packages/appflowy_editor/test/extensions/node_extension_test.dart
  frontend/app_flowy/packages/appflowy_editor/test/render/rich_text/checkbox_text_test.dart
  frontend/app_flowy/packages/appflowy_editor/test/service/selection_service_test.dart
  frontend/app_flowy/packages/appflowy_editor_plugins/lib/src/math_ equation/math_equation_node_widget.dart
  frontend/app_flowy/packages/appflowy_editor_plugins/pubspec.yaml
Labels: new feature, editor
