Repository AppFlowy-IO/AppFlowy, pull requests merged in 2023-11, with the labels that each got.

#3787 feat:add toast in trash and confirm dialog + fix issues from launch review
  frontend/appflowy_flutter/lib/mobile/application/mobile_theme_data.dart
  frontend/appflowy_flutter/lib/mobile/presentation/base/mobile_view_page.dart
  frontend/appflowy_flutter/lib/mobile/presentation/bottom_sheet/bottom_sheet.dart
  frontend/appflowy_flutter/lib/mobile/presentation/bottom_sheet/bottom_sheet_action_widget.dart
  frontend/appflowy_flutter/lib/mobile/presentation/bottom_sheet/bottom_sheet_add_new_page.dart
  frontend/appflowy_flutter/lib/mobile/presentation/bottom_sheet/bottom_sheet_drag_handler.dart
  frontend/appflowy_flutter/lib/mobile/presentation/bottom_sheet/bottom_sheet_view_item_body.dart
  frontend/appflowy_flutter/lib/mobile/presentation/bottom_sheet/bottom_sheet_view_item_header.dart
  frontend/appflowy_flutter/lib/mobile/presentation/bottom_sheet/bottom_sheet_view_page.dart
  frontend/appflowy_flutter/lib/mobile/presentation/bottom_sheet/default_mobile_action_pane.dart
  frontend/appflowy_flutter/lib/mobile/presentation/bottom_sheet/show_mobile_bottom_sheet.dart
  frontend/appflowy_flutter/lib/mobile/presentation/error/error_page.dart
  frontend/appflowy_flutter/lib/mobile/presentation/favorite/mobile_favorite_folder.dart
  frontend/appflowy_flutter/lib/mobile/presentation/favorite/mobile_favorite_page.dart
  frontend/appflowy_flutter/lib/mobile/presentation/home/mobile_home_page.dart
  frontend/appflowy_flutter/lib/mobile/presentation/home/mobile_home_page_recent_files.dart
  frontend/appflowy_flutter/lib/mobile/presentation/home/mobile_home_setting_page.dart
  frontend/appflowy_flutter/lib/mobile/presentation/home/mobile_home_trash_page.dart
  frontend/appflowy_flutter/lib/mobile/presentation/page_item/mobile_view_item.dart
  frontend/appflowy_flutter/lib/mobile/presentation/setting/personal_info/personal_info_setting_group.dart
  frontend/appflowy_flutter/lib/mobile/presentation/setting/support_setting_group.dart
  frontend/appflowy_flutter/lib/mobile/presentation/widgets/flowy_mobile_state_container.dart
  frontend/appflowy_flutter/lib/mobile/presentation/widgets/show_flowy_mobile_confirm_dialog.dart
  frontend/appflowy_flutter/lib/mobile/presentation/widgets/widgets.dart
  frontend/resources/translations/en.json
Labels: mobile

#3875 fix: support inserting grid block in editor
  frontend/appflowy_tauri/package.json
  frontend/appflowy_tauri/pnpm-lock.yaml
  frontend/appflowy_tauri/scripts/i18n/index.cjs
  frontend/appflowy_tauri/src/appflowy_app/assets/up.svg
  frontend/appflowy_tauri/src/appflowy_app/components/database/Database.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/Database.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/DatabaseLoader.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/DatabaseTitle.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/DatabaseView.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/_shared/VirtualizedList.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/_shared/dnd/drag.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/application/database_view/database_view_service.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/application/database_view/database_view_types.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/application/database_view/index.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/cell/Cell.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/cell/Cell.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/cell/CheckboxCell.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/cell/SelectCell/SelectCell.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/cell/TextCell.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/database_settings/DatabaseCollection.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/database_settings/DatabaseSettings.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/database_settings/index.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/tab_bar/AddViewBtn.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/tab_bar/DatabaseTabBar.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/tab_bar/ViewTabs.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/Grid/Grid.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridField/GridField.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/GridCellRow/GridCellRow.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/GridCellRow/GridCellRow.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/GridCellRow/GridCellRowActions.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/GridCellRow/GridCellRowContextMenu.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/GridCellRow/GridCellRowMenu.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/GridFieldRow.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/GridNewRow.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/GridRow.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/constants.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridTable/GridTable.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/proxy/grid/ui_state/Provider.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/proxy/grid/ui_state/actions.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/BlockSideToolbar.hooks.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSlash/BlockSlashMenu.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSlash/index.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSlash/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/GridBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/DatabaseList/index.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/DatabaseList/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/WorkspaceManager/Workspace.tsx
  frontend/appflowy_tauri/src/appflowy_app/constants/document/config.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/turn_to.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/block.ts
  frontend/appflowy_tauri/src/appflowy_app/views/DatabasePage.tsx
  frontend/appflowy_tauri/src/styles/template.css
  frontend/resources/translations/en.json
  shared-lib/flowy-codegen/src/ts_event/event_template.tera
Labels: tauri, react

#3823 chore: update Russian translations
  frontend/resources/translations/ru-RU.json
Labels: HACKTOBERFEST-ACCEPTED

#3977 fix: card detail regression on desktop
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/row/row.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cell_builder.dart
  frontend/appflowy_flutter/pubspec.lock
Labels: regression

#3971 fix: adjusting sort UI and support filter and settings
  frontend/appflowy_tauri/src/appflowy_app/assets/dropdown.svg
  frontend/appflowy_tauri/src/appflowy_app/assets/edit.svg
  frontend/appflowy_tauri/src/appflowy_app/assets/sort.svg
  frontend/appflowy_tauri/src/appflowy_app/components/database/Database.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/Database.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/DatabaseTitle.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/application/database_view/database_view_service.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/application/filter/filter_data.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/application/filter/filter_listeners.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/application/filter/filter_service.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/application/row/row_listeners.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/application/row/row_types.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/cell/Cell.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/database_settings/DatabaseCollection.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/database_settings/DatabaseSettings.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/database_settings/FilterSettings.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/database_settings/Properties.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/database_settings/SettingsMenu.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/database_settings/SortSettings.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/edit_record/EditRecord.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/field/FieldList.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/field/FieldListMenu.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/field/FieldSelect.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/field/index.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/filter/Filter.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/filter/FilterActions.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/filter/FilterFieldsMenu.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/filter/Filters.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/filter/field_filter/TextFilter.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/filter/field_filter/TextFilterConditionSelect.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/sort/SortFieldsMenu.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/sort/SortItem.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/sort/SortMenu.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/sort/Sorts.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/tab_bar/AddViewBtn.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/tab_bar/DatabaseTabBar.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/components/tab_bar/ViewActions.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridCalculate/GridCalculate.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/GridCellRow/GridCellRow.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/GridCellRow/GridCellRow.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/GridCellRow/GridCellRowActions.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridRow/GridFieldRow.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/database/grid/GridTable/GridTable.tsx
  frontend/appflowy_tauri/src/appflowy_app/hooks/notification.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/views/DatabasePage.tsx
Labels: grid, tauri, react

#3925 feat: delete kanban board groups
  frontend/appflowy_flutter/integration_test/board/board_hide_groups_test.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/group/group_service.dart
  frontend/appflowy_flutter/lib/plugins/database_view/board/application/board_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/board/presentation/widgets/board_column_header.dart
  frontend/appflowy_flutter/lib/plugins/database_view/board/presentation/widgets/board_hidden_groups.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/field_type_extension.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/card/cells/text_card_cell.dart
  frontend/appflowy_flutter/lib/workspace/presentation/widgets/dialogs.dart
  frontend/resources/translations/en.json
  frontend/rust-lib/event-integration/src/database_event.rs
  frontend/rust-lib/event-integration/tests/database/local_test/group_test.rs
  frontend/rust-lib/event-integration/tests/database/local_test/test.rs
  frontend/rust-lib/flowy-database2/src/entities/group_entities/group.rs
  frontend/rust-lib/flowy-database2/src/entities/view_entities.rs
  frontend/rust-lib/flowy-database2/src/event_handler.rs
  frontend/rust-lib/flowy-database2/src/event_map.rs
  frontend/rust-lib/flowy-database2/src/services/database/database_editor.rs
  frontend/rust-lib/flowy-database2/src/services/database_view/view_editor.rs
  frontend/rust-lib/flowy-database2/src/services/database_view/view_operation.rs
  frontend/rust-lib/flowy-database2/src/services/field/type_options/selection_type_option/select_type_option.rs
  frontend/rust-lib/flowy-database2/src/services/group/action.rs
  frontend/rust-lib/flowy-database2/src/services/group/controller.rs
  frontend/rust-lib/flowy-database2/src/services/group/controller_impls/checkbox_controller.rs
  frontend/rust-lib/flowy-database2/src/services/group/controller_impls/date_controller.rs
  frontend/rust-lib/flowy-database2/src/services/group/controller_impls/default_controller.rs
  frontend/rust-lib/flowy-database2/src/services/group/controller_impls/select_option_controller/multi_select_controller.rs
  frontend/rust-lib/flowy-database2/src/services/group/controller_impls/select_option_controller/single_select_controller.rs
  frontend/rust-lib/flowy-database2/src/services/group/controller_impls/url_controller.rs
Labels: new feature, kanban board

#4022 feat: insert a new field to the left or right of an existing one
  frontend/appflowy_flutter/integration_test/database/database_cell_test.dart
  frontend/appflowy_flutter/integration_test/database/database_field_test.dart
  frontend/appflowy_flutter/integration_test/util/database_test_op.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/field/field_editor_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/field/type_option/type_option_service.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/application/grid_header_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/field_cell.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/field_editor.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/grid_header.dart
  frontend/appflowy_tauri/src-tauri/Cargo.lock
  frontend/appflowy_tauri/src-tauri/Cargo.toml
  frontend/appflowy_tauri/src/appflowy_app/components/database/application/field/field_service.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/database/field/type_option/type_option_bd_svc.ts
  frontend/resources/flowy_icons/16x/arrow.svg
  frontend/rust-lib/Cargo.lock
  frontend/rust-lib/Cargo.toml
  frontend/rust-lib/event-integration/src/database_event.rs
  frontend/rust-lib/flowy-database2/src/entities/field_entities.rs
  frontend/rust-lib/flowy-database2/src/event_handler.rs
  frontend/rust-lib/flowy-database2/src/event_map.rs
  frontend/rust-lib/flowy-database2/src/services/database/database_editor.rs
  frontend/rust-lib/flowy-database2/src/services/database_view/layout_deps.rs
  frontend/rust-lib/flowy-database2/tests/database/database_editor.rs
  frontend/rust-lib/flowy-database2/tests/database/field_test/script.rs
  frontend/rust-lib/flowy-database2/tests/database/field_test/util.rs
  frontend/rust-lib/flowy-database2/tests/database/group_test/date_group_test.rs
Labels: new feature, grid
