Repository AppFlowy-IO/AppFlowy, pull requests merged in 2023-03, with the labels that each got.

#1900 revert(appflowy_editor): revert code for relicense
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/board/board_menu_item.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/grid/grid_menu_item.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/horizontal_rule_node_widget.dart
  frontend/appflowy_flutter/packages/appflowy_editor/example/lib/plugin/AI/auto_completion.dart
  frontend/appflowy_flutter/packages/appflowy_editor/example/lib/plugin/AI/continue_to_write.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/core/legacy/built_in_attribute_keys.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/render/selection_menu/selection_menu_item_widget.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/render/selection_menu/selection_menu_service.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/render/selection_menu/selection_menu_widget.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/markdown_syntax_to_styled_text.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/service/shortcut_event/built_in_shortcut_events.dart
  frontend/appflowy_flutter/packages/appflowy_editor/test/infra/test_raw_key_event.dart
  frontend/appflowy_flutter/packages/appflowy_editor/test/render/rich_text/checkbox_text_test.dart
  frontend/appflowy_flutter/packages/appflowy_editor/test/render/selection_menu/selection_menu_widget_test.dart
  frontend/appflowy_flutter/packages/appflowy_editor/test/service/internal_key_event_handlers/markdown_syntax_to_styled_text_handler_test.dart
  frontend/appflowy_flutter/packages/appflowy_editor/test/service/internal_key_event_handlers/slash_handler_test.dart
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/lib/src/code_block/code_block_shortcut_event.dart
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/lib/src/divider/divider_shortcut_event.dart
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/lib/src/emoji_picker/emoji_menu_item.dart
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/lib/src/math_ equation/math_equation_node_widget.dart
Labels: editor

#1907 chore: Update 3: Brazilian Portuguese Localization
  frontend/appflowy_flutter/assets/translations/pt-BR.json
Labels: translation

#1915 using controllers in react hooks WIP
  frontend/appflowy_tauri/package.json
  frontend/appflowy_tauri/src/appflowy_app/components/TestApiButton/DatabaseTestHelper.ts
  frontend/appflowy_tauri/src/appflowy_app/components/TestApiButton/TestGrid.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/Database.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/database-hooks/loadField.ts
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/database-hooks/useCell.ts
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/database-hooks/useDatabase.ts
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/database-hooks/useRow.ts
  frontend/appflowy_tauri/src/appflowy_app/components/auth/ProtectedRoutes.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/board/Board.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/board/Board.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/board/BoardBlock.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/board/BoardCard.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/board/BoardCell.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/board/BoardDateCell.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/board/BoardOptionsCell.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/board/BoardTextCell.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/HeaderPanel/Breadcrumbs.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/HeaderPanel/HeaderPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/MainPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavigationPanel.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavigationPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavigationResizer.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/PageItem.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/PageItem.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/Screen.tsx
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/database/cell/cell_controller.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/database/database_controller.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/folder/notifications/observer.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/activePageId/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/board/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/database/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/store.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/log.ts
  frontend/appflowy_tauri/src/appflowy_app/views/BoardPage.tsx
  frontend/rust-lib/flowy-core/src/lib.rs
  frontend/rust-lib/flowy-database/src/services/database_view/editor_manager.rs
Labels: tauri

#1901 chore: include time per cell
  frontend/appflowy_flutter/lib/plugins/database_view/application/cell/cell_controller_builder.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/cell/cell_data_persistence.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/date_cell/date_cal_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/date_cell/date_editor.dart
  frontend/rust-lib/flowy-database/src/event_handler.rs
  frontend/rust-lib/flowy-database/src/services/cell/cell_operation.rs
  frontend/rust-lib/flowy-database/src/services/database_view/editor.rs
  frontend/rust-lib/flowy-database/src/services/field/type_options/date_type_option/date_tests.rs
  frontend/rust-lib/flowy-database/src/services/field/type_options/date_type_option/date_type_option.rs
  frontend/rust-lib/flowy-database/src/services/field/type_options/date_type_option/date_type_option_entities.rs
  frontend/rust-lib/flowy-database/src/services/field/type_options/text_type_option/text_tests.rs
  frontend/rust-lib/flowy-database/tests/database/block_test/util.rs
  frontend/rust-lib/flowy-database/tests/database/field_test/util.rs
Labels: calendar

#2035 fix: scrolling selection-menu when it goes out of bound, fixes #2019
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/render/selection_menu/selection_menu_service.dart
Labels: bug, editor

#1961 chore(typos): fix typos
  frontend/appflowy_flutter/integration_test/switch_folder_test.dart
  frontend/appflowy_flutter/integration_test/util/settings.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/field/field_controller.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/setting/setting_controller.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/filter/choicechip/checkbox.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/filter/choicechip/select_option/select_option.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/filter/choicechip/text.dart
  frontend/appflowy_flutter/lib/plugins/document/document_page.dart
  frontend/appflowy_flutter/lib/plugins/document/editor_styles.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/more/cubit/document_appearance_cubit.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/base/link_to_page_widget.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/cover_node_widget.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/openai/widgets/loading.dart
  frontend/appflowy_flutter/lib/startup/startup.dart
  frontend/appflowy_flutter/lib/workspace/application/app/app_bloc.dart
  frontend/appflowy_flutter/lib/workspace/presentation/home/menu/app/section/section.dart
  frontend/appflowy_flutter/packages/appflowy_editor/documentation/customizing.md
  frontend/appflowy_flutter/packages/appflowy_editor/example/lib/home_page.dart
  frontend/appflowy_flutter/packages/appflowy_editor/example/lib/plugin/editor_theme.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/editor_state.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/render/selection_menu/selection_menu_service.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/render/style/plugin_styles.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/render/toolbar/toolbar_widget.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/service/editor_service.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/service/internal_key_event_handlers/markdown_syntax_to_styled_text.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/service/shortcut_event/built_in_shortcut_events.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/service/toolbar_service.dart
  frontend/appflowy_flutter/packages/appflowy_editor/test/command/command_extension_test.dart
  frontend/appflowy_flutter/packages/appflowy_editor/test/extensions/node_extension_test.dart
  frontend/appflowy_flutter/packages/appflowy_editor/test/infra/test_editor.dart
  frontend/appflowy_flutter/packages/appflowy_editor/test/render/rich_text/checkbox_text_test.dart
  frontend/appflowy_flutter/packages/appflowy_editor/test/service/internal_key_event_handlers/exit_editing_mode_handler_test.dart
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/lib/src/emoji_picker/emoji_menu_item.dart
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/database/field/type_option/type_option_controller.ts
  frontend/rust-lib/flowy-document/src/editor/READ_ME.json
  frontend/scripts/flatpack-buildfiles/io.appflowy.AppFlowy.metainfo.xml
  frontend/scripts/makefile/desktop.toml
  shared-lib/lib-ot/src/text_delta/attributes.rs
Labels: documentation

#2068 fix: slash menu responds to multiple key events
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/render/selection_menu/selection_menu_widget.dart
  frontend/appflowy_flutter/packages/appflowy_editor/test/render/selection_menu/selection_menu_widget_test.dart
Labels: improvements, editor

#2046 fix : Code block parser implementation
  frontend/appflowy_flutter/lib/plugins/document/application/share_bloc.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/parsers/code_block_node_parser.dart
  frontend/appflowy_flutter/test/unit_test/editor/share_markdown_test.dart
Labels: editor

#2143 Fix: referenced board and grid keywords
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/board/board_menu_item.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/grid/grid_menu_item.dart
Labels: bug, editor

#2133 fix: Replace `Shortcuts` icon in the help menu option to fix misalignment
  frontend/appflowy_flutter/lib/workspace/presentation/widgets/float_bubble/question_bubble.dart
Labels: improvements
