Repository AppFlowy-IO/AppFlowy, pull requests merged in 2023-04, with the labels that each got.

#2111 [feat]: add image delete in document cover
  frontend/appflowy_flutter/assets/translations/en.json
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/change_cover_popover.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/change_cover_popover_bloc.dart
Labels: new feature, editor

#2000 chore(appflowy_flutter): update to Flutter 3.7.5
  .github/workflows/flutter_ci.yaml
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
  .github/workflows/rust_ci.yaml
  .github/workflows/rust_coverage.yml
  frontend/appflowy_flutter/README.md
  frontend/appflowy_flutter/lib/plugins/database_view/application/field/field_action_sheet_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/field/field_editor_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/field/type_option/date_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/field/type_option/edit_select_option_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/field/type_option/number_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/field/type_option/number_format_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/field/type_option/select_option_type_option_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/setting/setting_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/board/application/toolbar/board_setting_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/calendar/application/calendar_setting_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/application/filter/select_option_filter_list_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/application/grid_header_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/application/row/row_action_sheet_bloc.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/base/link_to_page_widget.dart
  frontend/appflowy_flutter/lib/workspace/presentation/home/menu/app/header/import/import_panel.dart
  frontend/appflowy_flutter/macos/Podfile
  frontend/appflowy_flutter/macos/Runner.xcodeproj/project.pbxproj
  frontend/appflowy_flutter/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  frontend/appflowy_flutter/packages/appflowy_backend/pubspec.yaml
  frontend/appflowy_flutter/packages/appflowy_editor/lib/appflowy_editor.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/infra/flowy_svg.dart
  frontend/appflowy_flutter/packages/appflowy_editor/pubspec.yaml
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/lib/src/emoji_picker/emoji_menu_item.dart
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/lib/src/infra/svg.dart
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/pubspec.yaml
  frontend/appflowy_flutter/packages/appflowy_popover/lib/src/mask.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/image.dart
  frontend/appflowy_flutter/packages/flowy_infra/pubspec.yaml
  frontend/appflowy_flutter/packages/flowy_infra_ui/lib/flowy_infra_ui.dart
  frontend/appflowy_flutter/pubspec.lock
  frontend/appflowy_flutter/pubspec.yaml
  frontend/scripts/install_dev_env/install_linux.sh
  frontend/scripts/install_dev_env/install_macos.sh
  frontend/scripts/install_dev_env/install_windows.sh
Labels: infra

#2160 feat: Improve dark mode in grid page
  frontend/appflowy_flutter/assets/images/home/new_app.svg
  frontend/appflowy_flutter/assets/images/home/new_app_dark.svg
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/filter/choicechip/choicechip.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/filter/condition_button.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/filter/create_filter_list.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/filter/disclosure_button.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/filter/filter_menu.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/footer/grid_footer.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/field_cell.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/field_cell_action_sheet.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/field_type_list.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/field_type_option_editor.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/grid_header.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/type_option/date.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/type_option/select_option.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/type_option/select_option_editor.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/row/action.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/row/row.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/sort/create_sort_list.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/sort/sort_choice_button.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/sort/sort_editor.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/sort/sort_menu.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/toolbar/filter_button.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/toolbar/grid_property.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/toolbar/grid_setting.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/toolbar/setting_button.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/toolbar/sort_button.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/checklist_cell/checklist_cell_editor.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/checklist_cell/checklist_progress_bar.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/date_cell/date_editor.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/select_option_cell/extension.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/select_option_cell/select_option_editor.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/url_cell/url_cell.dart
  frontend/appflowy_flutter/lib/workspace/application/appearance.dart
  frontend/appflowy_flutter/lib/workspace/presentation/home/menu/app/create_button.dart
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/settings_appearance_view.dart
  frontend/appflowy_flutter/lib/workspace/presentation/widgets/dialogs.dart
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/lib/src/extensions/theme_extension.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/colorscheme.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/dandelion.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/default_colorscheme.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/lavender.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/theme.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/theme_extension.dart
  frontend/appflowy_flutter/packages/flowy_infra_ui/lib/style_widget/scrolling/styled_scroll_bar.dart
Labels: improvements, grid

#2151 Create PR template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: improvements, infra

#2189 feat: added day/month/year format
  frontend/appflowy_flutter/assets/translations/en.json
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/type_option/date.dart
  frontend/rust-lib/flowy-database/src/services/field/type_options/date_type_option/date_tests.rs
  frontend/rust-lib/flowy-database/src/services/field/type_options/date_type_option/date_type_option_entities.rs
Labels: grid, kanban board

#2193 feat: Improve dark mode in board page
  frontend/appflowy_flutter/assets/translations/en.json
  frontend/appflowy_flutter/assets/translations/eu-ES.json
  frontend/appflowy_flutter/assets/translations/fr-FR.json
  frontend/appflowy_flutter/assets/translations/ko-KR.json
  frontend/appflowy_flutter/assets/translations/pt-BR.json
  frontend/appflowy_flutter/assets/translations/ru-RU.json
  frontend/appflowy_flutter/assets/translations/sv.json
  frontend/appflowy_flutter/assets/translations/zh-CN.json
  frontend/appflowy_flutter/assets/translations/zh-TW.json
  frontend/appflowy_flutter/lib/plugins/database_view/board/presentation/toolbar/board_setting.dart
  frontend/appflowy_flutter/lib/plugins/database_view/board/presentation/toolbar/board_toolbar.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/layout/sizes.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/field_cell.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/grid_header.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/type_option/number.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/type_option/select_option.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/toolbar/grid_group.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/toolbar/sort_button.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/checklist_cell/checklist_cell.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/checklist_cell/checklist_progress_bar.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/url_cell/cell_editor.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/url_cell/url_cell.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/row_detail.dart
  frontend/appflowy_flutter/lib/workspace/presentation/home/toast.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/default_colorscheme.dart
  frontend/appflowy_flutter/packages/flowy_infra_ui/lib/src/flowy_overlay/appflowy_popover.dart
Labels: new feature, kanban board

#2224 [Fix] delete cover image document update
  frontend/appflowy_flutter/assets/translations/en.json
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/change_cover_popover.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/change_cover_popover_bloc.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/cover_node_widget.dart
Labels: improvements, editor

#2265 fix: seperating env for mac test depending upon archs
  frontend/Makefile.toml
  frontend/scripts/makefile/tests.toml
Labels: improvements, infra

#2274 feat: update ru-RU localization
  frontend/appflowy_flutter/assets/translations/ru-RU.json
Labels: translation

#2269 fix: Replace dark mode logo
  frontend/appflowy_flutter/assets/images/flowy_logo_dark_mode.svg
Labels: improvements

#2254 feat: Improve dark mode in document page
  frontend/appflowy_flutter/lib/plugins/document/editor_styles.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/cover_node_widget.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/emoji_popover.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/icon_widget.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/openai/widgets/auto_completion_node_widget.dart
  frontend/appflowy_flutter/lib/workspace/application/appearance.dart
  frontend/appflowy_flutter/lib/workspace/presentation/widgets/emoji_picker/src/config.dart
  frontend/appflowy_flutter/lib/workspace/presentation/widgets/emoji_picker/src/default_emoji_picker_view.dart
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/lib/src/code_block/code_block_node_widget.dart
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/lib/src/extensions/theme_extension.dart
Labels: improvements, editor

#2289 chore: update UIs in document and move plugins out of package
  frontend/appflowy_flutter/assets/translations/en.json
  frontend/appflowy_flutter/lib/plugins/document/document_page.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/callout/callout_node_widget.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/code_block/code_block_node_widget.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/code_block/code_block_shortcut_event.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/change_cover_popover.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/cover_image_picker.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/divider/divider_node_widget.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/divider/divider_shortcut_event.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/emoji_picker/emoji_menu_item.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/emoji_picker/emoji_picker.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/emoji_picker/src/config.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/emoji_picker/src/default_emoji_picker_view.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/emoji_picker/src/emoji_lists.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/emoji_picker/src/emoji_picker.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/emoji_picker/src/emoji_picker_builder.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/emoji_picker/src/emoji_view_state.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/emoji_picker/src/models/category_models.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/emoji_picker/src/models/emoji_model.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/emoji_picker/src/models/recent_emoji_model.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/extensions/flowy_tint_extension.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/horizontal_rule_node_widget.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/infra/svg.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/math_equation/math_equation_node_widget.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/plugins.dart
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/.gitignore
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/.metadata
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/CHANGELOG.md
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/LICENSE
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/README.md
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/analysis_options.yaml
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/assets/images/delete.svg
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/lib/appflowy_editor_plugins.dart
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/pubspec.yaml
  frontend/appflowy_flutter/packages/appflowy_editor_plugins/test/appflowy_editor_plugins_test.dart
  frontend/appflowy_flutter/packages/flowy_infra_ui/lib/style_widget/button.dart
  frontend/appflowy_flutter/pubspec.lock
  frontend/appflowy_flutter/pubspec.yaml
Labels: improvements

#2307 feat: editor theme improvement
  frontend/appflowy_flutter/lib/plugins/document/editor_styles.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/cover_node_widget.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/plugins/cover/emoji_popover.dart
  frontend/appflowy_flutter/lib/workspace/application/appearance.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/colorscheme.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/dandelion.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/default_colorscheme.dart
  frontend/appflowy_flutter/packages/flowy_infra/lib/colorscheme/lavender.dart
  frontend/appflowy_flutter/pubspec.lock
  frontend/appflowy_flutter/pubspec.yaml
Labels: improvements

#2287 feat: add url validation in cell_editor
  frontend/appflowy_flutter/lib/core/helpers/helpers.dart
  frontend/appflowy_flutter/lib/core/helpers/url_validator.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/url_cell/cell_editor.dart
  frontend/appflowy_flutter/packages/flowy_infra_ui/lib/style_widget/snap_bar.dart
Labels: new feature, grid

#2334 feat: add a new entry to the question bubble
  frontend/appflowy_flutter/assets/translations/en.json
  frontend/appflowy_flutter/lib/workspace/presentation/widgets/float_bubble/question_bubble.dart
Labels: new feature

#2317 feat: change the UI of language selector
  frontend/appflowy_flutter/lib/workspace/application/appearance.dart
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/settings_appearance_view.dart
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/settings_language_view.dart
Labels: improvements

#2343 Need to set the cursor to the correct position, after the DOM node is updated
  frontend/appflowy_tauri/src/appflowy_app/components/document/HeadingBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ListBlock/ColumnListBlock.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ListBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/TextBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/TextInput.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/document/document_controller.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/backspace.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/insert.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/set_cursor.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/split.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/update.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/block.ts
  frontend/rust-lib/flowy-document2/src/event_handler.rs
  frontend/rust-lib/flowy-document2/src/manager.rs
Labels: new feature, editor, tauri, react

#2347 Make it unidirectional data flow by listening to document updates
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/document/document_controller.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/backspace.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/delete.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/indent.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/insert.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/outdent.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/set_cursor.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/split.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/update.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/block.ts
  frontend/appflowy_tauri/src/appflowy_app/views/DocumentPage.hooks.ts
Labels: editor, tauri, react

#2352 Refactor match change code
  frontend/appflowy_tauri/src/appflowy_app/components/document/HeadingBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ListBlock/BulletedListBlock.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ListBlock/ColumnListBlock.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ListBlock/NumberedListBlock.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ListBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Root/Tree.hooks.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/TextBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/VirtualizedList/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/SubscribeNode.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/TextInput.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/block.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/document/document_controller.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/backspace.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/delete.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/indent.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/insert.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/outdent.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/set_cursor.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/split.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/update.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/block.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/block_change.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/region_grid.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/tool.ts
Labels: bug, editor, tauri, react

#2359 Modify some eslint rules
  frontend/appflowy_tauri/.eslintrc.cjs
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockMenu/MenuItem.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/tool.ts
Labels: eslint

#2360 Support to break wrap the text block when triggering shift+enter
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/TextBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/slate/hotkey.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/slate/text.ts
Labels: editor, tauri, react

#2365 Support pressing keyboard event to move cursor
  frontend/appflowy_tauri/src/appflowy_app/components/document/TextBlock/TextBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/TextInput.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/backspace.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async_actions/set_cursor.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/block.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/slate/hotkey.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/slate/text.ts
Labels: editor, tauri, react

#2353 chore: calendar dark mode UI fixes
  frontend/appflowy_flutter/lib/plugins/database_view/calendar/presentation/calendar_day.dart
  frontend/appflowy_flutter/lib/plugins/database_view/calendar/presentation/calendar_page.dart
  frontend/appflowy_flutter/pubspec.lock
Labels: improvements, calendar

#2337 revert: "Fix: #2028 auto enter edit mode for text field."
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/header/field_editor.dart
Labels: bug, grid
