Repository AppFlowy-IO/AppFlowy, pull requests merged in 2023-07, with the labels that each got.

#2912 Support image block
  frontend/appflowy_tauri/src-tauri/Cargo.toml
  frontend/appflowy_tauri/src-tauri/tauri.conf.json
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSlash/BlockSlashMenu.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSlash/index.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/CalloutBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/EquationBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/EquationBlock/useEquationBlock.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/ImageBlock/EditImage.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ImageBlock/ImageAlign.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ImageBlock/ImagePlaceholder.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ImageBlock/ImageRender.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ImageBlock/ImageToolbar.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ImageBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ImageBlock/useImageBlock.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/VirtualizedList/VirtualizedList.hooks.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/BlockPopover/BlockPopover.hooks.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/SubscribeBlockEdit.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/UploadImage/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/constants/document/config.ts
  frontend/appflowy_tauri/src/appflowy_app/constants/document/name.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/menu.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/block_edit_slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/image.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/env.ts
  frontend/appflowy_tauri/src/appflowy_app/views/DocumentPage.tsx
Labels: editor, tauri, react

#2895 [feat] Allow user to select any Google Font
  frontend/appflowy_flutter/assets/translations/en.json
  frontend/appflowy_flutter/lib/core/config/kv_keys.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/row_document.dart
  frontend/appflowy_flutter/lib/plugins/document/document.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/editor_style.dart
  frontend/appflowy_flutter/lib/plugins/document/presentation/more/cubit/document_appearance_cubit.dart
  frontend/appflowy_flutter/lib/startup/tasks/app_widget.dart
  frontend/appflowy_flutter/lib/workspace/application/appearance.dart
  frontend/appflowy_flutter/lib/workspace/presentation/home/menu/menu_user.dart
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/levenshtein.dart
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/settings_appearance_view.dart
  frontend/appflowy_flutter/test/bloc_test/app_setting_test/document_appearance_test.dart
  frontend/appflowy_flutter/test/unit_test/algorithm/levenshtein_test.dart
  frontend/appflowy_flutter/test/unit_test/editor/editor_style_test.dart
  frontend/appflowy_flutter/test/widget_test/theme_font_family_setting_test.dart
Labels: new feature

#2554 fix: Filter UI popover pixels overflow with dynamic width and height
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/filter/choicechip/text.dart
  frontend/appflowy_flutter/lib/plugins/database_view/grid/presentation/widgets/filter/condition_button.dart
Labels: bug, grid

#3004 feat: support drag and drop for tauri
  frontend/appflowy_tauri/src-tauri/Cargo.lock
  frontend/appflowy_tauri/src-tauri/Cargo.toml
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/BlockDraggable/BlockDragDropContext.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/BlockDraggable/BlockDraggable.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/BlockDraggable/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/app-dialog/ConfirmDialog.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/board/BoardSettingsPopup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSelection/BlockRangeSelection.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSelection/BlockRectSelection.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/BlockSideToolbar.hooks.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/ToolbarButton.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DividerBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Overlay/BlockOverlay.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Overlay/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/VirtualizedList/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/SubscribeNode.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/Layout.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NestedPage/DeleteDialog.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NestedPage/NestedPage.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NestedPage/NestedPageTitle.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NestedPage/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/WorkspaceManager/NestedPages.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/WorkspaceManager/TrashButton.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/WorkspaceManager/Workspace.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/WorkspaceManager/Workspace.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/WorkspaceManager/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/trash/Trash.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/trash/Trash.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/trash/TrashItem.tsx
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/workspace/page/page_bd_svc.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/workspace/page/page_controller.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/block-draggable/async_actions.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/block-draggable/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/document/async-actions/drag.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/pages/async_actions.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/pages/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/trash/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/store.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/draggable.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/tool.ts
  frontend/appflowy_tauri/src/appflowy_app/views/BoardPage.tsx
  frontend/resources/translations/en.json
  frontend/rust-lib/Cargo.lock
  frontend/rust-lib/Cargo.toml
Labels: tauri, react

#2848 feat: customize command shortcuts
  frontend/appflowy_flutter/lib/plugins/document/presentation/editor_page.dart
  frontend/appflowy_flutter/lib/workspace/application/settings/settings_dialog_bloc.dart
  frontend/appflowy_flutter/lib/workspace/application/settings/shortcuts/settings_shortcuts_cubit.dart
  frontend/appflowy_flutter/lib/workspace/application/settings/shortcuts/settings_shortcuts_service.dart
  frontend/appflowy_flutter/lib/workspace/application/settings/shortcuts/shortcuts_model.dart
  frontend/appflowy_flutter/lib/workspace/presentation/settings/settings_dialog.dart
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/settings_customize_shortcuts_view.dart
  frontend/appflowy_flutter/lib/workspace/presentation/settings/widgets/settings_menu.dart
  frontend/appflowy_flutter/test/bloc_test/shortcuts_test/shortcuts_cubit_test.dart
  frontend/appflowy_flutter/test/unit_test/settings/shortcuts/settings_shortcut_service_test.dart
  frontend/appflowy_flutter/test/widget_test/workspace/settings/settings_customize_shortcuts_view_test.dart
  frontend/appflowy_flutter/test/widget_test/workspace/settings/shortcuts_error_view_test.dart
  frontend/appflowy_flutter/test/widget_test/workspace/settings/shortcuts_list_tile_test.dart
  frontend/appflowy_flutter/test/widget_test/workspace/settings/shortcuts_list_view_test.dart
  frontend/resources/translations/en.json
Labels: editor, shortcuts

#3042 fix: implement the interface of move nested views
  .github/workflows/rust_ci.yaml
  frontend/appflowy_tauri/src-tauri/Cargo.lock
  frontend/appflowy_tauri/src-tauri/Cargo.toml
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/BlockDraggable/BlockDragDropContext.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/BlockDraggable/BlockDraggable.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/BlockDraggable/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/BlockSideToolbar.hooks.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/BlockSideToolbar/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/Node/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/VirtualizedList/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NestedPage/NestedPage.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NestedPage/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/database/database_bd_svc.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/workspace/page/page_bd_svc.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/workspace/page/page_controller.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/workspace/workspace_observer.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/pages/slice.ts
  frontend/resources/translations/en.json
  frontend/rust-lib/Cargo.lock
  frontend/rust-lib/Cargo.toml
  frontend/rust-lib/flowy-folder2/src/entities/view.rs
  frontend/rust-lib/flowy-folder2/src/event_handler.rs
  frontend/rust-lib/flowy-folder2/src/event_map.rs
  frontend/rust-lib/flowy-folder2/src/manager.rs
  frontend/rust-lib/flowy-folder2/tests/workspace/folder_test.rs
  frontend/rust-lib/flowy-folder2/tests/workspace/script.rs
  frontend/rust-lib/flowy-test/tests/folder/local_test/test.rs
Labels: tauri

#2700 feat: clear date value
  frontend/appflowy_flutter/integration_test/database_cell_test.dart
  frontend/appflowy_flutter/integration_test/util/database_test_op.dart
  frontend/appflowy_flutter/lib/plugins/database_view/application/cell/cell_data_persistence.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/date_cell/date_cal_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/date_cell/date_cell.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/date_cell/date_cell_bloc.dart
  frontend/appflowy_flutter/lib/plugins/database_view/widgets/row/cells/date_cell/date_editor.dart
  frontend/resources/translations/en.json
  frontend/rust-lib/flowy-database2/src/entities/type_option_entities/date_entities.rs
  frontend/rust-lib/flowy-database2/src/event_handler.rs
  frontend/rust-lib/flowy-database2/src/services/cell/cell_operation.rs
  frontend/rust-lib/flowy-database2/src/services/field/type_options/date_type_option/date_tests.rs
  frontend/rust-lib/flowy-database2/src/services/field/type_options/date_type_option/date_type_option.rs
  frontend/rust-lib/flowy-database2/src/services/field/type_options/date_type_option/date_type_option_entities.rs
  frontend/rust-lib/flowy-database2/tests/database/database_editor.rs
  frontend/rust-lib/flowy-database2/tests/database/field_test/util.rs
  frontend/rust-lib/flowy-test/tests/database/local_test/test.rs
Labels: grid, kanban board, calendar

#3069 Support add cover and icon in tauri document
  frontend/appflowy_tauri/src/appflowy_app/AppMain.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/EmojiPicker/EmojiPicker.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/EmojiPicker/EmojiPickerCategories.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/EmojiPicker/EmojiPickerHeader.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/EmojiPicker/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/CalloutBlock/CalloutBlock.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/CalloutBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/DocumentIcon.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/DocumentTitle.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/DocumentTopPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/TitleButtonGroup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/cover/ChangeColors.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/cover/ChangeCoverButton.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/cover/ChangeCoverPopover.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/cover/ChangeImages.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/cover/DocumentCover.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/cover/GalleryItem.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/cover/GalleryList.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/cover/config.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/DocumentTitle/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ImageBlock/EditImage.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/ImageBlock/index.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/TurnInto/TurnInto.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/UploadImage/ImageEdit.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/UploadImage/ImageEditPopover.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/UploadImage/TabPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/document/_shared/UploadImage/UploadImage.tsx
  frontend/appflowy_tauri/src/appflowy_app/constants/document/config.ts
  frontend/appflowy_tauri/src/appflowy_app/interfaces/document.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/emoji.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/document/image.ts
  frontend/appflowy_tauri/src/appflowy_app/utils/tool.ts
  frontend/appflowy_tauri/src/styles/mui.css
  frontend/appflowy_tauri/src/styles/template.css
  frontend/resources/translations/en.json
Labels: editor, tauri, react
