Repository AppFlowy-IO/AppFlowy, pull requests merged in 2023-02, with the labels that each got.

#1736 chore: add config to allow groups to take minimal vertical space if possible
  frontend/app_flowy/packages/appflowy_board/example/lib/multi_board_list_example.dart
  frontend/app_flowy/packages/appflowy_board/lib/src/widgets/board.dart
  frontend/app_flowy/packages/appflowy_board/lib/src/widgets/board_group/group.dart
Labels: improvements, kanban board

#1775 Skeleton task
  frontend/appflowy_tauri/.eslintignore
  frontend/appflowy_tauri/.eslintrc.cjs
  frontend/appflowy_tauri/.prettierignore
  frontend/appflowy_tauri/.prettierrc
  frontend/appflowy_tauri/package.json
  frontend/appflowy_tauri/src/appflowy_app/App.css
  frontend/appflowy_tauri/src/appflowy_app/App.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/TestApiButton/TestApiButton.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/TestColors/TestColors.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/TestFonts/TestFonts.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/AddSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/grid/application/notifications/parser.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/Breadcrumbs.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/FooterPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/HeaderPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/MainPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/PageOptions.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/Screen.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/user/application/notifications/index.ts
  frontend/appflowy_tauri/src/appflowy_app/components/user/application/notifications/parser.ts
  frontend/appflowy_tauri/src/appflowy_app/components/user/application/notifications/user_listener.ts
  frontend/appflowy_tauri/src/appflowy_app/home/application/notifications/parser.ts
  frontend/appflowy_tauri/src/appflowy_app/index.ts
  frontend/appflowy_tauri/src/appflowy_app/pages/Welcome.tsx
  frontend/appflowy_tauri/src/appflowy_app/redux/current-user/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/redux/folders/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/redux/navigation-width/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/redux/pages/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/store.ts
  frontend/appflowy_tauri/src/main.tsx
  frontend/appflowy_tauri/src/styles/font.css
  frontend/appflowy_tauri/src/styles/tailwind.css
  frontend/appflowy_tauri/src/styles/template.css
  frontend/appflowy_tauri/tailwind.config.cjs
  frontend/appflowy_tauri/tsconfig.json
  frontend/appflowy_tauri/vite.config.ts
  frontend/scripts/makefile/tauri.toml
Labels: tauri

#1747 feat: on enter exit editing property field #1295
  frontend/app_flowy/lib/plugins/grid/presentation/widgets/header/field_editor.dart
  frontend/app_flowy/packages/flowy_infra_ui/lib/style_widget/text_field.dart
  frontend/app_flowy/packages/flowy_infra_ui/lib/widget/rounded_input_field.dart
Labels: grid

#1784 chore: navigation items events
  frontend/appflowy_tauri/src/appflowy_app/App.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/AddSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/BoardSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/Button.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/CopySvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/Details2Svg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/DocumentSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/EditSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/GridSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/Popup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/TrashSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/useOutsideClick.ts
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/useResizer.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/AppLogo.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/HeaderPanel/Breadcrumbs.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/HeaderPanel/HeaderPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/HeaderPanel/PageOptions.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/MainPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/FolderItem.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/FolderItem.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavItemOptionsPopup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavigationPanel.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavigationPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavigationResizer.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NewFolderButton.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NewFolderButton.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NewPagePopup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/PageItem.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/PageItem.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/PluginsButton.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/RenamePopup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/TrashButton.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/Screen.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/Workspace.tsx
  frontend/appflowy_tauri/src/appflowy_app/pages/BoardPage.tsx
  frontend/appflowy_tauri/src/appflowy_app/pages/DocumentPage.tsx
  frontend/appflowy_tauri/src/appflowy_app/pages/GridPage.tsx
  frontend/appflowy_tauri/src/appflowy_app/redux/navigation-width/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/redux/pages/slice.ts
Labels: tauri

#1865 feat: optimize the open ai input status and clear the auto completion…
  frontend/app_flowy/lib/plugins/document/document_page.dart
  frontend/app_flowy/lib/plugins/document/presentation/plugins/openai/util/editor_extension.dart
  frontend/app_flowy/lib/plugins/document/presentation/plugins/openai/widgets/auto_completion_node_widget.dart
  frontend/app_flowy/packages/appflowy_editor/example/lib/home_page.dart
  frontend/app_flowy/packages/appflowy_editor/example/macos/Podfile.lock
Labels: editor

#1879 chore: nav items persist, board layout
  frontend/appflowy_tauri/package.json
  frontend/appflowy_tauri/src/appflowy_app/App.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/Database.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/LanguageSelectPopup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/Popup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/getColor.ts
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/svg/CloseSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/svg/DropDownShowSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/svg/EarthSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/svg/EyeClosedSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/svg/EyeOpenSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/svg/InformationSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/auth/Login/Login.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/auth/Login/Login.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/auth/SignUp/SignUp.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/auth/SignUp/SignUp.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/auth/auth.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/board/Board.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/board/Board.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/board/BoardBlock.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/board/BoardBlockItem.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/board/NewBoardBlock.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/error/Error.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/error/ErrorHandlerPage.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/error/ErrorModal.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/HeaderPanel/OptionsPopup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/HeaderPanel/PageOptions.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/HeaderPanel/PageOptions.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/FolderItem.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/FolderItem.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavItemOptionsPopup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavigationPanel.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavigationPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NewFolderButton.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NewPagePopup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/PageItem.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/PageItem.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/RenamePopup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/Workspace.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/Workspace.tsx
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/folder/app/backend_service.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/folder/workspace/backend_service.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/effects/user/backend_service.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/i18n/initializeI18n.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/board/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/current-user/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/database/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/error/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/folders/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/pages/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/reducers/workspace/slice.ts
  frontend/appflowy_tauri/src/appflowy_app/stores/store.ts
  frontend/appflowy_tauri/src/appflowy_app/views/BoardPage.tsx
  frontend/appflowy_tauri/src/appflowy_app/views/DocumentPage.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/views/DocumentPage.tsx
  frontend/appflowy_tauri/src/appflowy_app/views/GridPage.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/views/GridPage.tsx
  frontend/appflowy_tauri/src/main.tsx
  frontend/appflowy_tauri/src/styles/template.css
  frontend/appflowy_tauri/tsconfig.json
Labels: tauri

#1870 feat(shortcuts): Add Shortcuts to Help Menu
  frontend/appflowy_flutter/assets/translations/en.json
  frontend/appflowy_flutter/lib/workspace/presentation/widgets/float_bubble/question_bubble.dart
  frontend/appflowy_flutter/packages/appflowy_editor/lib/src/service/shortcut_event/built_in_shortcut_events.dart
Labels: new feature

#1899 fix: tauri UI issues
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/Popup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/svg/HideMenuSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/svg/LogoutSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/_shared/svg/ShowMenuSvg.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/AppLogo.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/HeaderPanel/OptionsPopup.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/HeaderPanel/PageOptions.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/FolderItem.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavigationFloatingPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavigationPanel.hooks.ts
  frontend/appflowy_tauri/src/appflowy_app/components/layout/NavigationPanel/NavigationPanel.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/Screen.tsx
  frontend/appflowy_tauri/src/appflowy_app/components/layout/Workspace.tsx
Labels: tauri
